.navbar {
  .btn-logout {
    margin-top: 8px;
  }
}

.main-container {
  margin-top: 50px;
}

.footer-container {
  margin-top: 20px;
  .footer {
    border-top: 1px solid #ccc;
    padding: 20px;
  }
}
