.editor {
  .editor-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
  }

  .editor-rdf {
    padding: 10px 0;
    height: 250px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;

    .editor-rdf-entity-list, .editor-rdf-attribute-list {
      height: 100%;
      overflow: auto;
    }
  }

  .editor-connection {
    margin-bottom: 10px;
    .connection-form {
      .loading-box {
        >.img-loader {
          height: 34px;
        }
      }
      .btn-connect {
        >img {
          height: 18px;
          margin-right: 8px;
        }
      }
      .connection-select {
        width: 100%;
      }
    }
  }

  .editor-relational-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  .collapse-arrow {
    position: absolute;
    width: 12px;
    top: 25px;
    right: 5px;
    @include transform(rotate(-90deg));
    @include transition(all 400ms);
    &.collapsed {
      @include transform(rotate(0deg));
    }
  }
}

.rdf-entity-list {
  position: relative;
}
.rdf-entity-list-item {
  padding: 6px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
  &.ui-draggable-dragging {
    @include transform(rotate(5deg));
    border: 1px solid #ccc;
  }
  &:first-child {
    border-top: 1px solid #ccc;
  }
  .rdf-entity-handle {
    width: 10px;
    height: 20px;
    margin: 0 5px;
    cursor: move;
    display: none;
  }
  .rdf-entity-label {
    display: inline-block;
    word-break: break-all;
  }
  .rdf-entity-uri {
    display: none;
    font-size: 10px;
    color: #55c;
    text-decoration: underline;
    cursor: default;
    word-break: break-all;
  }
  &:hover {
    background-color: #f1f1f1;
  }
  &.selected {
    background-color: #f1f1f1;
    .rdf-entity-handle {
      display: inline-block;
    }
    .rdf-entity-uri {
      display: block;
    }
  }
}


.rdf-attribute-list {
  position: relative;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 5px;
}
.rdf-attribute-list-item {
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 3px 5px;
  text-transform: capitalize;
  @include box-shadow(0 0 6px 0 #ccc);
  cursor: move;
  &.ui-draggable-dragging {
    @include transform(rotate(5deg));
  }
}


.table-list {
  .table-list-item {
    border-bottom: 1px solid #ccc;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    &:first-child {
      border-top: 1px solid #ccc;
    }
    &:hover {
      background-color: #f1f1f1;
    }
    &.selected {
      background-color: #f1f1f1;
    }
  }
}

.relational-table {
  position: relative;
  .table-top {
    margin-bottom: 10px;
    .table-top-upper {
      @include display-box();
    }
    .table-entity {
      @include box-flex(1);
    }
    .table-buttons {
      padding: 5px 0;
      @include box-flex(1);
      .btn {
        margin-left: 5px;
        float: right;
      }
    }
  }
  .table-entity {
    padding: 5px 10px;
    .table-entity-name {
      font-weight: bold;
    }
    .table-entity-uri {
      font-size: 10px;
      color: #55c;
    }
  }
  .table-name {
    .in-table-name {
      font-weight: bold;
    }
  }
  .table-attributes {
    table {
      width: 100%;
      tr{
        &:hover {
          td {
            .btn-table-row-delete{
              display: block;
            }
          }
        }
        td {
          position:relative;
          .btn-table-row-delete {
            display: none;
            position: absolute;
            top: -9px;
            right: -8px;
          }
        }
      }
    }
  }

  .btn-table-save {
    float: right;
  }

  .table-drag-and-drop-label {
    color: #999;
    text-align: center;
    padding: 4px;
    font-size: 12px;
  }
}

.droppable {
  position: relative;
  .drop-mask{
    display: none;
  }
  &.accept-drop {
    .drop-mask{
      @include display-box();
    }
  }
}

.input {
  color: #000;
  &[disabled]{
    color: #666;
  }
}

.drop-mask {
  @include stretch(0,0,0,0);
  @include display-box;
  @include box-pack(center);
  @include box-align(center);
  @include border-radius(4px);
  background-color: rgba(0,0,0,0.4);
  .drop-message {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    @include text-shadow(0 0 2px #000);
  }
}