.editor {
  .editor-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .editor-rdf {
    height: 250px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;

    .editor-rdf-entity-list {
      height: 100%;
      overflow: auto;
      .editor-rdf-entity-list-container {}
    }
  }

  .editor-connection {
    margin-bottom: 10px;
    .connection-form {
      .loading-box {
        >.img-loader {
          height: 34px;
        }
      }
      .btn-connect {
        >img {
          height: 18px;
          margin-right: 8px;
        }
      }
      .connection-select {
        width: 100%;
      }
    }
  }

  .editor-relational-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  .editor-relational {
    min-height: 150px;
  }
}

.rdf-entity-list {
  .rdf-entity-list-item {
    padding: 6px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    &.dragging {
      @include transform(rotate(30deg));
    }
    &:first-child {
      border-top: 1px solid #ccc;
    }
    .rdf-entity-handle {
      width: 10px;
      height: 20px;
      margin: 0 5px;
      cursor: move;
      display: none;
    }
    .rdf-entity-label {
      display: inline-block;
    }
    .rdf-entity-uri {
      display: inline-block;
      font-size: 10px;
      color: #55c;
      text-decoration: underline;
      cursor: default;
    }
    &:hover {
      background-color: #f1f1f1;
    }
    &.selected {
      background-color: #f1f1f1;
      .rdf-entity-handle {
        display: inline-block;
      }
    }
  }
}

.rdf-attribute-list {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 5px;
  .rdf-attribute-list-item {
    display: inline-block;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 3px 5px;
    @include box-shadow(0 0 6px 0 #ccc);
    cursor: move;
    &.dragging {
      @include transform(rotate(30deg));
    }
  }
}

.table-list {
  .table-list-item {
    border-bottom: 1px solid #ccc;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
    &:first-child {
      border-top: 1px solid #ccc;
    }
    &:hover {
      background-color: #f1f1f1;
    }
    &.selected {
      background-color: #f1f1f1;
    }
  }
}

.relational-table {
  &.accept-rdf-element-drop {
    .drop-mask {
    }
  }

  .table-top {
    margin-bottom: 10px;
  }
  .table-bottom {

  }
  .table-name {
    .in-table-name {
      font-weight: bold;

    }
  }
  .table-attributes {
    table {
      width: 100%;
    }
  }
  .btn-table-save {
    float: right;
  }
}

.droppable {
  position: relative;
  .drop-mask{
    display: none;
  }
  &.accept-drop {
    .drop-mask{
      @include display-box;
    }
  }
}

.drop-mask {
  @include stretch(0,0,0,0);
  @include display-box;
  @include box-pack(center);
  @include box-align(center);
  @include border-radius(4px);
  background-color: rgba(0,0,0,0.2);
  .drop-message {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    @include text-shadow(0 0 2px #000);
  }
}