.input {
  input {
    border-color: transparent;
    box-shadow: none;
    &:focus {
      border-color: auto;
      font-width: auto;
      font-size: auto;
      color: auto;
    }
  }
}

.hide {
  display: none;
}

.dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 1031;
  @include display-box;
  @include box-align(center);
  @include box-pack(center);
  
  .dialog {
    max-width: 50%;
    max-height: 50%;
    .dialog-body {
      overflow: auto;
    }
    .dialog-footer {
      text-align: right;
    }
  }
}