<div class="row editor-title editor-connection-title">
  <div class="col-xs-12">
    <h4> Connection to semantic data source </h4>
  </div>
  <img class="collapse-arrow collapsed" src="assets/images/arrow_down.png">
</div>

<div class="row editor-connection collapsed">
  <div class="col-xs-12 editor-connection-form"> </div>
</div>

<div class="row editor-title editor-rdf-title">
  <div class="col-xs-12">
    <h4> Semantic Data Source </h4>
  </div>
  <img class="collapse-arrow collapsed" src="assets/images/arrow_down.png">
</div>

<div class="row editor-rdf" style="display:none">
  <div class="col-xs-11 editor-rdf-col-title editor-rdf-entity-list-header">
    <span class="rdf-settings-icon rdf-entities-settings-icon glyphicon glyphicon-cog">
      <div class="rdf-settings rdf-entities-settings">
        <table>
          <tr>
            <td class="key"> Limit </td>
            <td class="value"><input type="text" class="form-control" data-type="entities" data-property="limit" value="<%= entitiesLimit %>" placeholder="Limit"/></td>
          </tr>
          <tr>
            <td class="key"> Offset </td>
            <td class="value"><input type="text" class="form-control" data-type="entities" data-property="offset" value="<%= entitiesOffset %>" placeholder="Offset"/></td>
          </tr>
          <tr>
            <td class="key" colspan="2">
              <input type="checkbox" data-type="entities" data-property="loadRootAttributes" <%= entitiesLoadRootAttributes ? 'checked' : '' %>/>
              Load root attribtues
            </td>
          </tr>
        </table>
      </div>
    </span>
    <ul class="entity-breadcrumbs"> </ul>
  </div>
  <div class="col-xs-1 editor-rdf-col-title editor-rdf-attribute-list-header">
    <span class="rdf-settings-icon rdf-attributes-settings-icon glyphicon glyphicon-cog">
      <div class="rdf-settings rdf-attributes-settings">
        <table>
          <tr>
            <td class="key"> Limit </td>
            <td class="value">
              <input type="text" class="form-control in-rdf-attributes-limit" data-type="attributes" data-property="limit" value="<%= attributesLimit %>" placeholder="Limit"/>
            </td>
          </tr>

          <tr>
            <td class="key"> Offset </td>
            <td class="value">
              <input type="text" class="form-control in-rdf-attributes-offset" data-type="attributes" data-property="offset" value="<%= attributesOffset %>" placeholder="Offset"/>
            </td>
          </tr>

          <tr>
            <td class="key" colspan="2">
              <input type="checkbox" class="in-rdf-attributes-sort" data-type="attributes" data-property="sort" <%= attributesSort ? 'checked' : '' %>/>
              Sort by revelance
            </td>
          </tr>

        </table>
      </div>
    </span>
  </div>
  <div class="col-xs-5 editor-rdf-col editor-rdf-entity-list">
    <div class="editor-rdf-entity-list-container"></div>
  </div>
  <div class="col-xs-7 editor-rdf-col editor-rdf-attribute-list">
    <div class="editor-rdf-attribute-list-container"> </div>
  </div>
</div>

<div class="row editor-title editor-relational-title">
  <div class="col-xs-12">
    <h4> Relational Data Source </h4>
  </div>
  <img class="collapse-arrow collapsed" src="assets/images/arrow_down.png">
</div>

<div class="row editor-relational collapsed">
  <div class="col-xs-3 editor-table-list-container"> List of created tables </div>
  <div class="col-xs-9 editor-table-container"> Relational table </div>
</div>