<div class="panel-item"> Attribute 1 </div>
<div class="panel-item"> Attribute 2 </div>
<div class="panel-item"> Attribute 3 </div>
<div class="panel-item"> Attribute 4 </div>
<div class="panel-item"> Attribute 5 </div>
<div class="panel-item"> Attribute 6 </div>
<div class="panel-item"> Attribute 7 </div>
<div class="panel-item"> Attribute 1 </div>
<div class="panel-item"> Attribute 2 </div>
<div class="panel-item"> Attribute 3 </div>
<div class="panel-item"> Attribute 4 </div>
<div class="panel-item"> Attribute 5 </div>
<div class="panel-item"> Attribute 6 </div>
<div class="panel-item"> Attribute 7 </div>