<h5> RDF Resources </h5>
<div class="list-item rdf-entity-list-item"> Place <a> http://dbpedia.org/ontology/Place </a> </div>
<div class="list-item rdf-entity-list-item selected"> Organization <a> http://schema.org/Organization </a> </div>
<div class="list-item rdf-entity-list-item"> Person <a> http://dbpedia.org/ontology/Person </a> </div>
<div class="list-item rdf-entity-list-item"> Thing <a> http://www.w3.org/2002/07/owl#Thing </a> </div>
<div class="list-item rdf-entity-list-item"> President <a> http://dbpedia.org/ontology/President </a> </div>
<div class="list-item rdf-entity-list-item"> Band <a> http://dbpedia.org/ontology/Band </a> </div>
