<div class="table-top rdf-entity-droppable droppable">
  <div class="table-top-upper">
    <div class="table-entity">
      <div class="table-entity-name"></div>
      <div class="table-entity-uri"></div>
    </div>
    <div class="table-buttons"> 
      <button class="btn btn-sm btn-default btn-table-save"> <span class="glyphicon glyphicon-floppy-disk"></span></button> 
      <button class="btn btn-sm btn-default btn-table-delete"> <span class="glyphicon glyphicon-trash"></span></button>
      <button class="btn btn-sm btn-default btn-table-data"> <span class="glyphicon glyphicon-list"></span></button>
      <button class="btn btn-sm btn-default btn-table-add"> <span class="glyphicon glyphicon-plus"></span> </button>
      <!-- <button class="btn btn-sm btn-default btn-table-lock"> <span class="glyphicon glyphicon-lock"></span> </button>  -->
    </div>
  </div>
  <div class="input table-name">
    <input type="text" class="form-control in-table-name" value="<%= name %>" placeholder="Table Name"/>  
  </div>
  <div class="drop-mask">
    <div class="drop-message">
      Drop RDF entity here
    </div>
  </div>
</div>
<div class="table-bottom clearfix">
  <div class="table-attributes">
    <div class="table-responsive rdf-attribute-droppable droppable">
      <table class="table table-bordered table-hover">
        <tr>
          <th> Name </th>
          <th> Data Type </th>
          <th> Length </th>
          <th> Not null </th>
          <th> Default </th>
        </tr>
        <tr class="row-new-attribute">
          <td colspan="5" class="table-drag-and-drop-label">
            ... drag and drop rdf attributes here ...
          </td>
        </tr>
      </table>
      <div class="drop-mask">
        <div class="drop-message">
          ... drop RDF attribute here ...
        </div>
      </div>
    </div>
  </div>
</div>