<div class="table-top rdf-entity-droppable droppable">
  <div class="input table-name">
    <input type="text" class="form-control in-table-name" value="" placeholder="Table Name"/>
  </div>
  <div class="drop-mask">
    <div class="drop-message">
      Drop RDF entity here
    </div>
  </div>
</div>
<div class="table-bottom clearfix">
  <div class="table-attributes">
    <div class="table-responsive rdf-attribute-droppable droppable">
      <table class="table table-bordered table-hover">
        <tr>
          <th> Attribute Name </th>
          <th> Data Type </th>
          <th> Length </th>
          <th> Not Null </th>
          <th> Default </th>
        </tr>
        <tr class="row-new-attribute">
          <td colspan="5"> 
            <button type="button" class="btn btn-default btn-add-attribute"> Add new attribute </button> 
          </td>
        </tr>
      </table>
      <div class="drop-mask">
        <div class="drop-message">
          Drop RDF attribute here
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-table-save"> Save Changes </div>
</div>