<td> 
  <div class="input">
    <input type="text" class="form-control in-name" value="<%= attribute.name %>" placeholder="Attribute name"/>
  </div>
</td>
<td>
  <div class="input">
    <select class="in-type">
      <option> Datetime </option>
      <option> Decimal </option>
      <option> Integer </option>
      <option> String </option>
    </select>
  </div>
</td>
<td> 
  <div class="input">
    <input type="text" class="form-control in-length" value="<%= attribute.length %>" placeholder="Length"/>
  </div>
</td>
<td>
  <div class="input">
    <input type="checkbox"/>
  </div>
</td>
<td> 
  <div class="input">
    <input type="text" class="form-control in-default" value="<%= attribute.default %>" placeholder="Default"/>
  </div>
</td>
